.createNote__container {
    margin-top: 20px;

    .showAlert {
        display: block;
    }

    .hideAlert {
        display: none;
    }
}

.Sign_Time {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .sign_textfield {
        width: 70%;
        margin-right: 20px;
    }

    .timezone_textfield {
        width: 30%;
    }
}

.send_button {
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

.form {
    margin-top: 20px
}

.notes {
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    .note-container {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

}

.notes_footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

    .pagination {
        width: 60%;
    }

    .perPage_selector {
        width: 40%;
    }
}